
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../static/js/lib/jquery/jquery-2.1.4.min.js"></script>

    <!-- WeUI -->
    <link rel="stylesheet" href="../static/weui-master/style/weuix.min.css">
    <link rel="stylesheet" href="../static/weui-master/style/jquery-weui.min.css">
    <script type="text/javascript" src="../static/weui-master/jquery-weui.min.js"></script>

    <!-- 引入vue.js-->
    <script type="text/javascript" src="../static/js/lib/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/global.min.js"></script>

    <!--图标-->
    <link rel="stylesheet" href="../static/ionicons-2.0.1/css/ionicons.min.css">

    <!-- 自定义样式 -->
    <link rel="stylesheet" href="../static/css/style.css">

    <style>
        .score_btns i {
            line-height: 26px;
        }

        [v-cloak] {
            display: none;
        }
    </style>

</head>

<body class="body_in">
    <div id="score">

        <div class="score_top">
            <div class="score_box">
                <div class="score_num" v-text="oMyInfo.credit"></div>
                <div class="score_label">我的积分</div>
            </div>
        </div>

        <div class="score_btns flex_row">
            <div class="score_btn flex1 ripple_box" onclick="window.location.href='018-scoreRule.html'">
                <i class="ion-ios-pricetags"></i>
                <span>规则</span>
            </div>
            <div class="score_btn flex1 ripple_box" onclick="window.location.href='013-recharge.html'">
                <i class="ion-ios-cart"></i>
                <span>购买积分</span>
            </div>
            <div class="score_btn flex1 ripple_box" onclick="window.location.href='014-withdraw.html'">
                <i class="ion-social-yen"></i>
                <span>提现</span>
            </div>
        </div>

        <div class="expenses">
            <div class="expenses_title">
                <i class="ion-arrow-down-b"></i> 积分明细</div>
            <ul>
                <li v-for="item in aScoreList" class="list_style7">
                    <div class="text_left">
                        <span class="expenses_label" v-text="item.reason"></span>
                        <span class="expenses_time" v-text="item.createDate"></span>
                    </div>
                    <span :class="{green_text: item.path === 1, red_text: item.path === 2}" v-cloak>
                        {{(item.path === 1 ? '+' : '-') + item.credit}}
                    </span>
                </li>
            </ul>
        </div>

        <div style="height: 50px; float: left; width: 100%;"></div>

        <div class="foot_menu">
            <span id="column1" class="ripple_box" onclick="window.location.href='001-home.html'">首页</span>
            <span id="column2" class="ripple_box selected">赚积分</span>
            <span id="column3" class="ripple_box" onclick="window.location.href='003-send.html'">发帖</span>
            <span id="column4" class="ripple_box" onclick="window.location.href='004-my.html'">我的</span>
        </div>
    </div>

    <script>
        var score = new Vue({
            el: "#score",
            data: {
                aScoreList: [],
                oMyInfo: {}
            },
            //加载组件时发出请求
            created: function() {
                this.fnGetMyInfo();
                this.fnGetScoreList();
            },
            methods: {
                fnGetMyInfo: function() {
                    //获取服务列表信息
                    var postData = {};
                    var that = this;
                    var type = 'POST'; //四种类型  POST查询 PUT新增修改删除
                    var url = '/wechat/myInfo';

                    function ajaxSuccess(data) {
                        that.oMyInfo = Object.assign({}, data);
                    }
                    global.ajax(type, postData, url, ajaxSuccess);
                },
                fnGetScoreList: function() {
                    var that = this;
                    var type = 'POST';
                    var url = '/wechat/searchCreditLogs';
                    var postData = {};

                    function ajaxSuccess(data) {
                        that.aScoreList = JSON.parse(JSON.stringify(data))
                    }
                    global.ajax(type, postData, url, ajaxSuccess);
                }
            },
        })
    </script>
</body>

</html>
