<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../static/js/lib/jquery/jquery-2.1.4.min.js"></script>

    <!-- WeUI -->
    <link rel="stylesheet" href="../static/weui-master/style/weuix.min.css">
    <link rel="stylesheet" href="../static/weui-master/style/jquery-weui.min.css">
    <script type="text/javascript" src="../static/weui-master/jquery-weui.min.js"></script>

    <!--photoswipe开始-->
    <!-- Core CSS file -->
    <link rel="stylesheet" href="../static/PhotoSwipe-master/dist/photoswipe.css">
    <link rel="stylesheet" href="../static/PhotoSwipe-master/dist/default-skin/default-skin.css">
    <!-- Core JS file -->
    <script src="../static/PhotoSwipe-master/dist/photoswipe.min.js"></script>
    <!-- UI JS file -->
    <script src="../static/PhotoSwipe-master/dist/photoswipe-ui-default.min.js"></script>
    <!--photoswipe结束-->

    <!-- 引入vue.js-->
    <script type="text/javascript" src="../static/js/lib/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/global.min.js"></script>

    <!-- iview -->
    <link rel="stylesheet" href="../static/iview/dist/styles/iview.css">
    <script src="../static/iview/dist/iview.js"></script>

    <!--图标-->
    <link rel="stylesheet" href="../static/ionicons-2.0.1/css/ionicons.min.css">

    <!-- 自定义样式 -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!--图片查看器js-->
    <script src="../static/js/lib/PhotoSwipeDemo.js"></script>
    <!-- 微信接口 -->
    <script type="text/javascript" src="../static/js/lib/jweixin-1.2.0.js"></script>

    <style>
        /*modal自定义样式*/

        .ivu-modal-footer {
            display: none;
        }

        .vertical-center-modal {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ivu-modal {
            top: 0;
        }

        .ivu-modal-content {
            width: 60%;
            margin-left: 20%;

        }

        .ivu-modal-body {
            padding: 0px;
        }

        .cover_div {
            background: #000000;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 500;
            opacity: 0.6;
            filter: Alpha(opacity=70);
        }

        .follow_btn {
            margin-left: 5px;
            margin-right: -5px;
        }

        .card_img {
            background: url("../static/img/imgLoading.gif") no-repeat center;
            background-size: 30px 30px;
        }

        .card_info_head {
            background: url("../static/img/imgLoading.gif") no-repeat center;
            background-size: 10px 10px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body class="body_in">

    <div id="card">
        <div class="share_box" :class="{show:clickShare}" @click="clickShare = false">
            <img class="share" src="../static/img/share.png">
            <div class="shade"></div>
        </div>

        <div class="back_home" onclick="window.location.href='001-home.html'">
            <Icon type="ios-arrow-back"></Icon>返回首页</div>
        <div class="card">
            <div class="card_in">
                <div class="card_info">
                    <img class="card_info_head" @click="fnGoToPersonalCardListPage(false)" :true-src="oPostDetails.head"/>
                    <div class="card_info_texts" @click="fnGoToPersonalCardListPage(false)">
                        <span class="card_info_name" v-text="oPostDetails.username"></span>
                        <span class="card_info_time" v-text="oPostDetails.publishDate"></span>
                    </div>

                    <span class="card_label">
                         <Icon type="ios-pricetags-outline"></Icon>
                         <span v-text="oPostDetails.type"></span>
                     </span>

                    <span v-cloak v-if="bIsShowDelay && oPostDetails.isOwn" class="operate_btn ripple_box shineBox" @click="fnShowModal(oPostDetails.id, oPostDetails.content, 'modifyPost')">
                        <Icon type="ios-gear"></Icon>
                    </span>

                    <span v-cloak v-if="bIsShowDelay && !oPostDetails.isOwn" class="follow_btn ripple_box shineBox" @click="fnFollow" :class="{selected:bIsFollow}">
                        <span v-if="bIsFollow">已关注</span>
                        <span v-if="!bIsFollow">关注</span>
                    </span>
                </div>
                <div class="card_title">
                    浏览量：<span v-text="oPostDetails.views"></span>
                </div>
                <div class="card_title">
                    <p v-text="oPostDetails.title"></p>
                </div>
                <div class="card_texts">
                    <p v-text="oPostDetails.content"></p>
                </div>
                <div class="card_imgs">
                    <div class="demo-gallery">
                        <a v-for="item in aImages" :href="item.path" data-size="" :data-med="item.path" data-med-size="">
                            <img class="card_img" alt=""  :true-src="item.path"/>
                        </a>
                    </div>
                    <div class="demo-gallery">
                        <video class="card_img" poster="" v-for="item in aVideos" :id="item.id" controls>
                            <source :src="item.path" type="video/ogg">
                            <source :src="item.path" type="video/mp4">
                            <source :src="item.path" type="video/webm">
                            Your browser does not support the video tag
                        </video>
                    </div>
                    <div class="demo-gallery" v-if="oAudio.path" v-cloak>
                        <audio controls>
                            <source :src="oAudio.path" type="audio/ogg">
                            <source :src="oAudio.path" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
                <div class="card_video">

                </div>
            </div>
        </div>

        <div class="zan" v-if="aSupportInfoShow.length !== 0" v-cloak>
            <div class="flex_row zan_top">
                <Icon type="ios-heart-outline"></Icon>
                <div class="flex1">
                    <img v-for="item in aSupportInfoShow" class="support_head" @click="fnGoToPersonalCardListPage(item.id)" :true-src="item.head"/>
                </div>
            </div>

            <span class="more_btn" @click="fnClickShowMoreSupport" v-if="bShowSupportButton" v-cloak>点击显示更多点赞</span>
        </div>

        <div class="card_talk_box">
            <div v-for="(item, index) in aCmtList" class="card_talk">
                <div class="card_in">
                    <div class="card_info">
                        <img class="card_info_head" @click="fnGoToPersonalCardListPage(item.id)" :true-src="item.head"/>
                        <div class="card_info_texts">
                            <span class="card_info_name" @click="fnGoToPersonalCardListPage(item.id)">
                                <span v-text="item.username"></span>
                                <span style="float: right" v-text="index + 1 + '楼'"></span>
                            </span>
                            <span class="card_info_time" v-text="item.createDate"></span>
                            <div class="talk_texts">
                                <p v-text="item.content"></p>
                            </div>
                        </div>

                        <span v-if="item.isOwn" class="operate_btn2 ripple_box" @click="fnShowModal(item.id, item.content, 'modifyCmt')" v-cloak>
                            <Icon type="ios-gear"></Icon>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <span class="more_btn" v-if="bIsMoreCmt" @click="fnGetTotalCmt" v-cloak>点击查看更多评论</span>

        <div class="rwm">
            <img src="../static/img/qr.png" />
            <div>扫码关注领奖台公众号</div>
        </div>

        <div class="weui-footer">
            <p class="weui-footer__text">由天津十壹维度科技提供技术支持</p>
        </div>

        <div style="height: 40px; width: 100%; float: left;"></div>

        <div class="card_bottom_btns flex_row" v-cloak>
            <span class="card_bottom_btn flex1 ripple_box" @click="clickShare = true">
                <Icon type="android-open"></Icon>
                分享
            </span>
            <span class="card_bottom_btn flex1 ripple_box" @click="fnGoToCmtPage">
                <Icon type="chatbubble-working"></Icon>
                评论  {{oPostDetails.reviews || ''}}
            </span>
            <span v-if="bIsShowDelay && !oPostDetails.isOwn" class="card_bottom_btn flex1 ripple_box" @click="fnGoToRewardPage">
                <Icon type="eye"></Icon>
                打赏 {{oPostDetails.rewards || ''}}
            </span>
            <span class="card_bottom_btn flex1 ripple_box" @click="fnSupport">
                <Icon :style="{color: sSupportColor}" type="thumbsup"></Icon>
                赞  {{iSupport || ''}}
            </span>
        </div>

        <Modal v-model="modal1" class-name="vertical-center-modal" :closable="false" width="50%" v-cloak>
            <span class="model_btn" @click="fnGoToModify" :style="{borderBottom: sIsBorderBottomStyle}">修改</span>
            <span class="model_btn" v-if="sCurModifyType === 'modifyCmt'" @click="fnDelete">删除</span>

            <div slot="footer" style="display: none;"></div>
        </Modal>

        <!-- 图片查看器共用部分 -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var card = new Vue({
            el: "#card",
            data: {
                loc: location.href.split('#')[0],
                modal1: false,
                oPostDetails: {},
                aCmtList: [],
                iSupport: 0,
                isSupported: false, //是否已点赞
                bPreventClickSupport: false, //防止过快点赞造成服务器产生错误数据
                sSupportColor: '',
                aSupportInfoShow: [],
                aSupportInfoAll: [],
                bShowSupportButton: true,
                iCurCmtId: null,
                clickShare: false,
                aImages: [],
                aVideos: [],
                aAudios: [],
                oAudio: {},
                sCurModifyType: '',
                iTotalCmtNum: 0,
                bIsFollow: false,       //是否已关注
                bIsShowDelay: false,     //解决v-if在vue实例化后才渲染而产生的延迟闪烁
            },
            //加载组件时发出请求
            created: function() {
                this.fnGetPostDetails();
            },
            computed: {
                bIsMoreCmt: function() {
                    if (!this.aCmtList || this.aCmtList.length >= this.iTotalCmtNum) {
                        return false;
                    }
                    return true;
                },
                sIsBorderBottomStyle: function() {
                    return this.sCurModifyType === 'modifyCmt' ? '1px solid #eee' : 'none';
                }
            },
            methods: {
                fnGetPostDetails: function() {
                    var that = this;
                    var type = 'POST';
                    var url = '/topic/searchTopicDetail';
                    var postData = {};

                    postData.id = parseFloat(global.GetArgsFromHref(this.loc, "id"));
                    postData.parmType = 1;

                    function ajaxSuccess(data) {
                        var oData = JSON.parse(JSON.stringify(data));
                        var aCurImages = [];
                        var aCurVideos = [];
                        var aCurAudios = [];
                        var oCurAudio = {};

                        that.oPostDetails = oData;
                        that.bIsShowDelay = true;
                        that.aCmtList = oData.tReviewVos;
                        that.iTotalCmtNum = oData.reviews;
                        that.aFileList = oData.tFileVos;
                        if (oData.tFileVos) {
                            oData.tFileVos.forEach(function(ele) {
                                if (ele.type === 1) {
                                    ele.path = global.baseurl + ele.path;
                                    aCurImages.push(ele);
                                } else if (ele.type === 2) {
                                    ele.path = global.baseurl + ele.path.slice(2);
                                    aCurVideos.push(ele);
                                } else {
                                    ele.path = global.baseurl + ele.path.slice(2);
                                    oCurAudio = ele;
                                }
                            });
                            that.aImages = aCurImages;
                            that.aVideos = aCurVideos;
                            that.oAudio = oCurAudio;
                        }
                        that.iSupport = oData.supports;
                        that.isSupported = oData.isSupported;
                        that.bIsFollow = oData.attentionId || oData.attentionId == 0 ? true : false;
                        that.sSupportColor = oData.isSupported ? '#ff566b' : '#777';
                        that.aSupportInfoAll = oData.tSupportVos;
                        if (!that.aSupportInfoAll) {
                            that.bShowSupportButton = false;
                            that.aSupportInfoShow = [];
                        } else {
                            that.aSupportInfoShow = that.aSupportInfoAll.slice(0, 100);
                        }
                    }
                    global.ajax(type, postData, url, ajaxSuccess);
                },
                fnGetTotalCmt: function() {
                    var that = this;
                    var type = 'POST';
                    var url = '/topic/searchTopicReviewsByParm';
                    var postData = {};

                    postData.pageSize = this.iTotalCmtNum;
                    postData.currentPage = 1;
                    postData.param = {
                        topicVo: {
                            id: global.GetArgsFromHref(this.loc, "id")
                        }
                    };
                    function ajaxSuccess(data) {
                        that.aCmtList = data.rows.concat();
                    }
                    global.ajax(type, postData, url, ajaxSuccess);
                },
                fnSupport: function() {
                    var that = this;
                    var type = 'PUT';
                    var url = '/wechat/';
                    var postData = {};

                    if (this.bPreventClickSupport) {
                        return;
                    }

                    url += this.isSupported ? 'cancelTopicSupport' : 'addTopicSupport';
                    postData.topicId = parseFloat(global.GetArgsFromHref(this.loc, "id"));

                    function ajaxSuccess(data) {
                        if (data.success) {
                            that.fnGetPostDetails();
                        } else {
                            if (data.message === 'USER_BAN_CODE') {
                                $.alert('账户禁用，无法操作');
                            }
                        }
                        //防止过快点赞造成服务器产生错误数据
                        setTimeout(function() {
                            that.bPreventClickSupport = false;
                        }, 300);
                    }
                    global.ajax(type, postData, url, ajaxSuccess);
                    this.bPreventClickSupport = true;
                },
                fnFollow: function() {
                    var that = this;
                    var type = 'PUT';
                    var url = '/wechat/';
                    var postData = {};

                    if (this.bIsFollow) {
                        url += 'unfollow';
                        postData.id = this.oPostDetails.attentionId;
                        type = 'DELETE';
                    } else {
                        url += 'follow';
                        postData.attentionUserId = this.oPostDetails.owner;
                    }

                    function ajaxSuccess(data) {
                        if (data.success) {
                            that.fnGetPostDetails();
                        } else {
                            if (data.message === 'USER_BAN_CODE') {
                                $.alert('账户禁用，无法操作');
                            }
                        }
                    }
                    global.ajax(type, postData, url, ajaxSuccess);
                },
                fnDelete: function() {
                    var that = this;
                    var type = 'DELETE';
                    var url = '/topic/removeTopicReview';
                    var postData = {};

                    postData.id = this.sCurModifyType === 'modifyCmt' ? this.iCurCmtId : null;

                    function ajaxSuccess(data) {
                        if (data.success) {
                            $.toast("删除成功");
                            that.modal1 = false;
                            that.fnGetPostDetails();
                        } else {
                            $.toast('删除失败');
                        }

                    }

                    $.confirm({
                        title: '确认删除',
                        text: '确认删除此评论？',
                        onOK: function () {
                            global.ajax(type, postData, url, ajaxSuccess);
                        },
                        onCancel: function () {
                            setTimeout(function() {that.modal1 = false;}, 500);
                        }
                    });
                },
                fnShowModal: function(id, content, type) {
                    this.modal1 = true;
                    this.iCurCmtId = id;
                    this.sCurCmtContent = content;
                    this.sCurModifyType = type;
                },
                fnGoToCmtPage: function() {
                    window.location.href = '011-talk.html?id=' + global.GetArgsFromHref(this.loc, "id");
                },
                fnGoToRewardPage: function() {
                    window.location.href='012-reward.html?topicId='
                        + global.GetArgsFromHref(this.loc, "id")
                        + '&sHead=' + this.oPostDetails.head
                        + '&sUserName=' + this.oPostDetails.username;
                },
                fnGoToPersonalCardListPage: function(id) {
                    window.location.href='008-personalCardList.html?id=' + (id || this.oPostDetails.owner);
                },
                fnGoToModify: function() {
                    if (this.sCurModifyType === 'modifyCmt') {
                        window.location.href = '011-talk.html?id=' + this.iCurCmtId + '&mode=modify' + '&content=' + encodeURI(this.sCurCmtContent);
                    } else {
                        window.location.href = '003-send.html?id=' + this.iCurCmtId + '&mode=modify' + '&content=';
                    }
                    this.modal1 = false;
                },
                fnClickShowMoreSupport: function() {
                    var iLength = this.aSupportInfoShow.length;
                    if (iLength != this.aSupportInfoAll.length) {
                        this.aSupportInfoShow.concat(this.aSupportInfoAll.slice(iLength, iLength + 100));
                    } else {
                        this.bShowSupportButton = false;
                    }
                }
            },
            updated: function() {
                this.$nextTick(function() {
                    var w = $(window).get(0).innerWidth;
                    $('.card_img').css('height', w * 0.94 * 0.303333);
                    $('.card_talk_img').css('height', (w * 0.94 - 62) * 0.303333);
                    global.fnAllImgDelayLoad(true);
                    initPhotoSwipeFromDOM('demo-gallery');
                })
            }
        });
    </script>

</body>

</html>
