@charset "utf-8";

/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    margin: 0;
    font-family: "Microsoft Yahei";
    font-weight: 400;
    /*transition: all 1s;*/
}

body {
    color: #333333;
    background: #fff;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 25px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:checked {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    border: 0;
}

select {
    border: 0px;
    background: none;
}

select {
    margin-bottom: 0px;
    padding: 0px 0px;
}

.margin-top7 {
    margin-top: 7px;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top20 {
    margin-top: 20px;
}

.head {
    height: 46px;
    line-height: 46px;
    width: 100%;
    background: #11243b;
    position: fixed;
    z-index: 99999999999;
    top: 0px;
    overflow: hidden;

    -webkit-display: flex;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex_row {
    -webkit-display: flex;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-direction: row;
    flex-direction: row;
}

.head_left {
    width: 72px;
    height: 46px;

}

.head_center {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 46px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 46px;
}

.head_center span {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 46px;
}

.head_right {
    width: 72px;
    height: 46px;
}

.go_back_btn {
    width: 46px;
    height: 46px;
    background: url(../../static/img/go_back_btn.png) no-repeat center center;
    display: inline-block;
}

.conent_top46_width90 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 46px;
}

.conent_top0_width96 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0px;
}

.conent_top46_width100 {
    width: 100%;
    margin-top: 46px;
}

.conent_top92_width100 {
    width: 100%;
    width: 100%;
    margin-top: 46px;
}

.conent_top0_width100 {
    width: 100%;
    width: 100%;
    margin-top: 0px;
}

.input_style1 {
    width: 100%;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-bottom: 0px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #999;
    border-radius: 4px;
    padding-left: 5px;
}

.blank {
    height: 68px;
    width: 100%;
    float: left;
}

.welcome_logo {
    width: 35%;
    position: absolute;
    left: 32.5%;
    top: 160px;
}

.welcome_text {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 50px;
    font-size: 18px;
}

/* 002_login */
.login_bg {
    width: 100%;
}

.login_input1 {
    width: 90%;
    margin-left: 5%;
    background: #f7f7f7;
    border: 1px solid #e4e4e4;
    border-bottom: 0px;
    height: 53px;
    line-height: 53px;
    font-size: 16px;
    color: #999;
    border-radius: 4px 4px 0px 0px;
    margin-top: 20px;
    padding-left: 5px;
}

.login_input2 {
    width: 90%;
    margin-left: 5%;
    background: #f7f7f7;
    border: 1px solid #e4e4e4;
    height: 53px;
    line-height: 53px;
    font-size: 16px;
    color: #999;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.big_span_btn1 {
    width: 90%;
    margin-left: 5%;
    background: #11243b;
    border: 0;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    font-family: "Microsoft Yahei";
    display: inline-block;
    text-align: center;
}

.btn1 {
    width: 90%;
    margin-left: 5%;
    background: #12a3da;
    border: 0;
    height: 53px;
    line-height: 53px;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    font-family: "Microsoft Yahei";
}

.btn2 {
    width: 100%;
    background: #12a3da;
    border: 0;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    font-family: "Microsoft Yahei";
}

.btn3 {
    width: 90%;
    marign-left: 5%;
    background: #11243b;
    border: 0;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    font-family: "Microsoft Yahei";
}

.width90_box {
    width: 90%;
    margin-left: 5%;
}

.login_link1 {
    margin-top: 10px;
    float: left;
}

.login_link2 {
    margin-top: 10px;
    float: right;
}

/* 003 */

.enroll_logo {
    width: 30%;
    margin-left: 35%;
    margin-top: 100px;
}

.enroll_title {
    width: 100%;
    height: 40px;
    lkine-height: 40px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* 004 */
.body_in {
    background: #e4e4e4;
}

.body_in2 {
    background: #f0f0f0;
}

.message_btn {
    width: 45%;
    margin-left: 5%;
    height: 46px;
    line-height: 46px;
    background: #69bf69;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.message_input {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex: 1;
    flex: 1;
}

/* 005 */
.advertising {
    width: 100%;
    margin-top: 46px;
}

.subject_btn {
    width: 18%;
    background: #b1b1b1;
    display: inline-block;
    margin-top: 20px;
    margin-left: 2.8%;
    margin-right: 2.8%;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.subject_btn1 {
    background: #ff716b;
}

.subject_btn2 {
    background: #e5769f;
}

.subject_btn3 {
    background: #77cb79;
}

.subject_btn4 {
    background: #57cee7;
}

.subject_btn5 {
    background: #f0c46c;
}

.subject_btn6 {
    background: #78b4f2;
}

.subject_btn7 {
    background: #ef9f5f;
}

.subject_btn8 {
    background: #889de9;
}

.subject_btn9 {
    background: #6dcdc5;
}

.subject_btn10 {
    background: #6dafcd;
}

.list_style1 {
    -webkit-display: flex;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */

    -webkit-flex-direction: row;
    flex-direction: row;

    background: #fff;
    margin-bottom: 1px;
    height: 42px;
    line-height: 42px;
}

.head_img1 {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.text_left {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex: 1;
    flex: 1;
}

.male {
    color: #12a3da;
}

.female {
    color: #ff6b8e;
}

.neme {
    padding-right: 10px;
    display: inline-block;
    width: 80px;
    overflow: hidden;
    float: left;
    height: 42px;
}

.text_right {
    /*width: 70px;*/
    text-align: right;
    padding-right: 15px;
}

/* 006 */
.ye_box {
    margin-top: 52px;
    text-align: center;
}

.ye_bg {
    margin-top: 80px;
}

.ye_label {
    color: #202020;
    font-size: 1em;
    margin-top: 20px;
}

.ye_num {
    color: #202020;
    font-size: 2em;
    margin-bottom: 10px;
}

.recharge_record_btn {
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.extract_btn {
    display: inline-block;
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.list_style2 {
    background: #fff;
    overflow: hidden;
    margin-bottom: 1px;
}

.list_top {
    margin-top: 10px;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
}

.list_bottom {
    margin-bottom: 10px;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
}

.money_type {
    font-size: 16px;
    color: #333;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    width: 45%;
    float: left;
    margin-left: 5%;
}

.money_add {
    font-size: 16px;
    color: #00b4ff;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    width: 45%;
    float: left;
    text-align: right;
    margin-right: 5%;
}

.money_subtract {
    font-size: 16px;
    color: #ff5c5c;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    width: 45%;
    float: left;
    text-align: right;
    margin-right: 5%;
}

.money_time {
    font-size: 14px;
    color: #999;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    width: 45%;
    float: left;
    margin-left: 5%;
}

.money_info {
    font-size: 14px;
    color: #999;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    width: 45%;
    float: left;
    text-align: right;
    margin-right: 5%;
}

/* 009 */
.list_style3 {
    -webkit-display: flex;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-direction: row;
    flex-direction: row;

    background: #fff;
    margin-bottom: 1px;
    height: 50px;
    line-height: 50px;
}

.text_left2 {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: 5%;
}

.orange_text {
    color: #e0650b;
}

.box_margin-top10 {
    margin-top: 10px;
    overflow: hidden;
    float: left;
    width: 100%;
    border-radius: 4px;

}

.box_margin-bottom5 {
    margin-bottom: 5px;
    overflow: hidden;
    float: left;
    width: 100%;
    border-radius: 4px;
}

.box_margin-top0 {
    margin-top: 0px;
    overflow: hidden;
    float: left;
    width: 100%;
}

.black_text {
    color: #000;
}

.info_text {
    color: #999;
    display: inline-block;
    width: 100%;
    line-height: 22px;
    padding-bottom: 15px;
}

.line-height40 {
    line-height: 40px;
    height: 40px;
}

.padding-left10 {
    padding-left: 10px;
}

.top_tab {
    height: 46px;
    width: 100%;
    background: #efefef;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0px;

    -webkit-display: flex;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-direction: row;
    flex-direction: row;
}

.tab_btn {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex: 1;
    flex: 1;

    height: 45px;
    line-height: 45px;
    background: #efefef;
    display: inline-block;
    text-align: center;
}

.tab_bt, .selected {
    background: #fff;
}

.top_option {
    height: 46px;
    width: 100%;
    background: #fff;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0px;

    -webkit-display: flex;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-direction: row;
    flex-direction: row;
}

.publish_Btn {
    background: #69bf69;
    border: 0px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    height: 24px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 11px;
    display: inline-block;
}

.options {
    width: 23.75%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 7px;
    padding: 0px;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
    border: 1px solid #e1e1e1;
    color: #999;
}

.options_btn {
    border-radius: 4px;
    text-align: left;
    padding-left: 4px;
    display: inline-block;
}

/*底部菜单栏*/
.foot_menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99999999999;
    border-top: 1px solid #d4d4d4;
    background: #fff;

}

.foot_menu span {
    width: 25%;
    font-size: 12px;
    display: inline-block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #666666;
    height: 57px;
    padding-top: 35px;
}

/* 右侧滑动菜单 */

.sidenav {
    position: fixed;
    width: 280px;
    top: 0px;
    bottom: 0px;
    background: #fff;
    left: 100%;
    z-index: 99999999999999;
    display: none;
}

.black_blank {
    position: fixed;
    width: 100%;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0);
    z-index: 99999999999999;
    display: none;
}

.sidenav_in_btn1 {
    width: 50%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 0px;
    background: #69bf69;
    color: #fff;
    font-size: 16px;
    display: inline-block;
}

.sidenav_in_btn2 {
    width: 50%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 0px;
    background: #e6e6e6;
    color: #666;
    font-size: 16px;
    display: inline-block;
}

.sidenav_title {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin: 0px;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.screening_item {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #666;
    background: #f0f0f0;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sidenav_in_btns {
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
}

/* 星级评分 */
.star_box {
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}

.overflow_hidden {
    overflow: hidden;
}

.flex1 {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex: 1;
    flex: 1;
}

.star_num {
    color: #999;
    font-size: 12px;
    float: right;
}

#readOnly {
    float: left;
    margin-top: -1px;
}

.readOnly {
    float: left;
    margin-top: -1px;
}

.btn_height28 {
    padding-left: 8px;
    padding-right: 8px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    background: #c3c3c3;
}

/*灰色*/
.btn_color0 {
    color: #fff;
    background: #c3c3c3;
}

/*绿色*/
.btn_color1 {
    color: #fff;
    background: #69bf69;
}

/*松石*/
.btn_color2 {
    color: #fff;
    background: #5fc8db;
}

/*水蓝*/
.btn_color3 {
    color: #fff;
    background: #64b3ef;
}

/*蓝色*/
.btn_color4 {
    color: #fff;
    background: #12a3da;
}

/*橘黄*/
.btn_color5 {
    color: #fff;
    background: #f4ad49;
}

/*浅红*/
.btn_color6 {
    color: #fff;
    background: #ff5e5e;
}

/*深青*/
.btn_color7 {
    color: #fff;
    background: #4895a9;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.list_style4 {
    background: #fff;
    margin-bottom: 1px;
    height: 42px;
    line-height: 42px;
    width: 100%;
}

.list_style5 {
    background: #fff;
    margin-bottom: 1px;
    overflow: hidden;
    line-height: 42px;
    width: 100%;
}

.margin-right10 {
    margin-right: 10px;
}

.left_text {
    width: 40%;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    float: left;
    color: #000;
}

.right_text {
    width: 50%;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    float: right;
    color: #999;
    text-align: right;
    border: 0px;
}

.right_text2 {
    width: 60%;
    display: inline-block;
    line-height: 22px;
    overflow: hidden;
    float: right;
    color: #999;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
}

.right_text2 span {
    float: right;
}

.import_textarea {
    width: 90%;
    margin-left: 5%;
    border: 0px;
    height: 200px;
    line-height: 24px;
    margin-top: 10px;
}

.import_input {
    width: 90%;
    margin-left: 5%;
    border: 0px;
    line-height: 24px;
    margin-top: 10px;
}

.sort {
    border: 0px;
    width: 100%;
    color: #888;
    height: 46px;
    font-size: 18px;
}

.sort_box {
    border-radius: 4px;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.center_label {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #999;
    float: left
}

.left_label {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    height: 40px;
    line-height: 40px;
    color: #999;
    float: left;
}

.spread_btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    text-align: center;
    float: left;
    background: #fff;
    color: #999;
    margin-bottom: 1px;
}

.spread_btn span {
    background: url("../../static/img/arrow_bottom.png") no-repeat right center;
    padding-right: 22px;
}

.hidden {
    display: none;
}

.arrow_right {
    background: url("../../static/img/arrow_right.png") no-repeat right center;
}

.head_img2 {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    float: left;
    margin-top: 14px;
}

.head_img3 {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
}

.list_style6 {
    margin-bottom: 1px;
    overflow: hidden;
    width: 100%;
    height: 76px;
    background: #fff;
}

.user_info_box {
    float: left;
    height: 76px;
    overflow: hidden;
    margin-left: 10px;
    width: 100px;
}

.user_neme {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin-top: 22px;
    line-height: 16px;
}

.user_phonenum {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    line-height: 14px;
    color: #999;
}

.pay_btn {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    margin-top: 20px;
    background: #fff;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.people_num {
    color: #999;
    font-size: 14px;
}

/*众创*/

.title_box {

    height: 42px;
    line-height: 42px;
    width: 100%;
    border-radius: 4px 0px 0px 0px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.title_blue_box {
    width: 10px;
    height: 42px;
    background: #51c6ed;
    float: left;
    border-radius: 4px 0px 0px 0px;
}

.title_orange_box {
    width: 10px;
    height: 42px;
    background: #f49949;
    float: left;
    border-radius: 4px 0px 0px 0px;
}

.title_green_box {
    width: 10px;
    height: 42px;
    background: #69bf69;
    float: left;
    border-radius: 4px 0px 0px 0px;
}

.title_red_box {
    width: 10px;
    height: 42px;
    background: #ff5e5e;
    float: left;
    border-radius: 4px 0px 0px 0px;
}

#chart1 {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.chart_box {
    overflow: hidden;
    float: left;
    width: 100%;
}

#chart2 {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

#chart3 {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.backgroundFFF {
    background: #fff;
    position: relative;
}

.title_span {
    padding-left: 3px;
}

.tab_box {
    height: 42px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.tab_box2 {
    height: 42px;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.tab_btn {
    width: 33.333333333%;
    height: 42px;
    line-height: 42px;
    float: left;
    display: inline-block;
    background: #fff;

}

.tab_btn.selected {
    background: #f7f7f7;
    color: #51c6ed;
    font-weight: bold;
}

#tab_btn1 {
    border-right: 1px solid #ddd;
}

#tab_btn2 {
    border-right: 1px solid #ddd;
}

.number_style1 {
    font-size: 50px;
    font-family: Arial;
    color: #666;
    font-weight: bold;
    line-height: 85px;

    display: inline-block;
}

.text_style1 {
    font-size: 20px;
    color: #999;
}

.number_style2 {
    font-size: 30px;
    font-family: Arial;
    color: #888ba2;
    font-weight: bold;
}

.number_style3 {
    font-size: 40px;
    font-family: Arial;
    color: #888ba2;
    font-weight: bold;
}

.num_box {
    margin-left: auto;
    margin-right: auto;
}

.num_box_out {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    float: left;
    width: 100%;
}

.icon1 {
    height: 18px;
    width: 18px;
}

.swiper_img {
    width: 90%;
    border-radius: 3px;
}

.swiper_text_box {
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    background: #fff;
}

.texts {
    text-align: left;
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;
}

.texts2 {
    text-align: left;
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 0px;
    overflow: hidden;
}

.top_search {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.name_text {
    font-size: 16px;
}

.glyphicon {
    padding-right: 5px;
    color: #51c6ed;
}

.glyphiconStyle1 {
    color: #f49949;
    font-size: 20px;
    line-height: 42px;
    float: left;
    padding-left: 8px;
    padding-right: 0px;
}

.glyphiconStyle2 {
    color: #51c6ed;
    font-size: 20px;
    line-height: 42px;
    float: left;
    padding-left: 8px;
    padding-right: 0px;
}

.glyphiconStyle3 {
    color: #69bf69;
    font-size: 20px;
    line-height: 42px;
    float: left;
    padding-left: 8px;
    padding-right: 0px;
}

.company_name {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #666;
}

.tab_btn_title {
    height: 41px;
    line-height: 41px;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    background: #fff;
}

.label_box {
    z-index: 999999;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100px;
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-left: -50px;
}

.label_box span {
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    float: left;
}

/* 加载动画 */

.spinner {
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    left: 50%;
    top: 50vh;
    margin-left: -25px;
    margin-top: -30px;
    z-index: 999999;
}

.spinner > div {
    background-color: #51c6ed;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.tj_time {
    position: absolute;
    top: 43px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.select_arrow {
    width: 46px;
    height: 46px;
    background: url("../img/select.png");
    position: absolute;
    right: 0px;
    pointer-events: none;
    border-radius: 0px 4px 4px 0px;
}

/*微信端原系统增加*/
.phone_table_box {
    width: 100%;
    border-top: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2;
    overflow: hidden;
}

.cut_line {
    height: 10px;
    background: #f2f2f2;
    width: 100%;
    float: left;
}

.box_fixed {
    width: 40%;
    float: left;
}

.box_scroll {
    overflow-x: auto;
    width: 60%;
    float: right;
}

.table_scroll {

}

.table_fixed {
    width: 100%;
}

.table_scroll tr th {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    background: #fff;
    color: #006699;
    border-right: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 14px;
}

.table_scroll tr td {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    color: #333333;
    border-right: 1px solid #eaedf2;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 12px;
}

.table_fixed tr th {
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    background: #fff;
    color: #006699;
    width: 100%;
    display: inline-block;
    border-right: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2;
    font-size: 14px;
}

.table_fixed tr td {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    color: #333333;
    width: 100%;
    display: inline-block;
    border-right: 1px solid #eaedf2;
    font-size: 12px;
    font-weight: bold;
}

.table_fixed2 tr th {
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    background: #fff;
    color: #006699;
    display: inline-block;
    border-right: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2;
    font-size: 14px;
}

.table_fixed2 tr td {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    color: #333333;
    display: inline-block;
    border-right: 1px solid #eaedf2;
    font-size: 12px;
    font-weight: bold;
}

.table_title {
    color: #666;
    text-align: center;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    font-weight: bold;
}

.weak_text {
    font-weight: normal;
}

.gray_text {
    color: #999;
}

.strong_text {
    font-weight: bold;
}

.red_text {
    color: #ef5b59;
}

.green_text {
    color: #3fc085;
}

.blue_text {
    color: #5cc1f6;
}

/*手势动画*/
.hand_box {
    width: 100%;
    height: 24px;
    float: left;
}

.hand_box_in {
    width: 60%;
    height: 24px;
    float: right;
    position: relative;
    background: #e9eef2;
    display: none;
}

.hand_box_in2 {
    width: 50%;
    height: 24px;
    float: right;
    position: relative;
    background: #e9eef2;
    display: none;
}

.hand_img {
    width: 20px;
    height: 24px;
    position: absolute;
}

.hand_text {
    color: #afbbc5;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;

}

.banner1 {
    width: 100%;
}

.banner1_title {
    position: absolute;
    top: 100px;
    color: #fff;
    background: #e91e32;
    width: 100%;
    text-align: center;
}

.main_btn {
    height: 70px;
    line-height: 70px;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    background: #fff;
    margin-bottom: 1px;
    float: left;
    padding-left: 30px;
}

.main_btn span {
    padding-right: 20px;
}

.explain_box {
    width: 100%;
    padding: 20px;
    float: left;
}

.explain_box .title {
    font-size: 14px;
    font-weight: bold;
}

.explain_box .glyphicon {
    font-size: 16px;
}

.explain_box p {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
}

.main_table {
    width: 100%;
    position: relative;
    /*    overflow-y: hidden;*/
}

.side_box {
    position: absolute;
    top: 0px;
    background: #fff;
    width: 100%;
    display: none;
    overflow: hidden;
}

.back_btn2 {
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.tab_btns {
    width: 100%;
    float: left;
}

.tab_btns tr td {
    width: 33.333%;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #eaedf2;
    padding: 10px 15px;
    color: #999;
    height: 48px;
}

.tab_btns tr td.selected {
    font-weight: bold;
    color: #333;
}

.search_box {
    padding-top: 2px;
    padding-bottom: 12px;
    overflow: hidden;
    width: 100%;
}

.search_box_in {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.datetime_title {
    width: 30%;
    line-height: 35px;
    height: 35px;
    float: left;
    text-align: right;
    display: inline-block;
    color: #666;
    font-weight: bold;
}

.search_input {
    width: 60%;
    float: left;
    height: 35px;
    border: 0px;
    background: #f4f4f4;
    padding-left: 10px;
    color: #666;
    text-align: left;
    border-radius: 4px;
    margin-left: 5px;
    border: 1px solid #e5e5e5;
}

.second_level {
    padding-left: 15px;
    font-weight: bold;
}

.third_level {
    padding-left: 30px;
    font-weight: normal;
    color: #999;
}

.table_100 {
    width: 100%;
    margin-top: 20px;
    float: left;
    border-bottom: 1px solid #eaedf2;
}

.table_100 tr th {
    height: 35px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
    color: #006699;
    border-bottom: 1px solid #eaedf2;
    font-size: 14px;
}

.table_100 tr td {
    height: 20px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 10px;
    color: #333333;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ontouch {
    background: #dff8ff;
}

.page_btns span {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 46px;
    line-height: 46px;
    float: left;
    border-bottom: 1px solid #eaedf2;
}

.gray {
    color: #c7c7c7;
}

.title_style3 {
    width: 100%;
    float: left;
    margin-top: 25px;
    font-size: 15px;
    padding-left: 20px;
}

.title_style4 {
    width: 100%;
    float: left;
    margin-top: 10px;
    font-size: 15px;
    padding-left: 20px;
}

.value_th {
    display: inline-block;
    width: 42px;
    overflow: hidden;
    height: 16px;
    font-weight: bold;
}

.chart_7 {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.chart_8 {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.chart_12 {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.chart_13 {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.histogram {
    width: 90%;
    height: 260px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 5%;
}

.ECharts_out {
    width: 90%;
    float: left;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 5%;
}

.ECharts_in_1 {
    width: 50%;
    float: left;
    overflow: hidden;

}

.ECharts_texts_1 {
    height: 180px;
    width: 45%;
    float: right;
}

.big_num {
    font-size: 24px;
    line-height: 24px;
    color: #666;
    font-weight: bold;
}

.text_box_1 {
    margin-top: 24px;
    height: 24px;
}

.red_text2 {
    color: #ff0000;
}

.ECharts_plane {
    width: 100%;
    float: left;
}

.news_title {
    font-weight: bold;
    color: #666;
    width: 100%;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    overflow: hidden;
}

.news_title2 {
    color: #333;
    width: 100%;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    overflow: hidden;
}

.news_time {
    font-size: 12px;
    color: #999;
    width: 100%;
    display: inline-block;
}

.border-bottom {
    border-bottom: 1px solid #eaedf2;
}

.chart_box_3 {
    width: 33.33%;
    float: left;
    overflow: hidden;
    border-right: 1px solid #eaedf2;
    border-bottom: 1px solid #eaedf2;
}

.s_chart {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 6px;
}

.s_title {
    font-size: 12px;
    color: #7a797a;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    width: 100%;
    overflow: hidden;
}

.s_charts {
    width: 100%;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #eaedf2;
}

.btn_style1 {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    background: #14b9d6;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
}

.cancel_btn {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
    height: 49px;
    line-height: 49px;
    border-right: 1px solid #e5e5e5;
    color: #0894ec;
    font-size: 15px;
}

.confirm_btn {
    width: 50%;
    display: inline-block;
    float: right;
    text-align: center;
    height: 49px;
    line-height: 49px;
    color: #0894ec;
    font-size: 15px;
    margin-bottom: 1px;
}

.modal-body-prompt {
    text-align: center;
    height: 55px;
    line-height: 55px;
    padding: 0px;
    margin: 0px;
}

.modal-modal-footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
}

.news_box {
    width: 96%;
    margin-left: 2%;
    float: left;
    text-align: left;
    overflow: hidden;
}

#promptModal .modal-dialog {
    top: 50vh;
    margin-top: -60px;
}

.modal-body-prompt span {
    line-height: 50px;
    font-size: 15px;
}

.icon{
    width:18px;
    height:18px;
    margin-right:10px;
}

.icon_001{  
    background: url("../img/icon_001.png") no-repeat center center;
}

.icon_002{
    background: url("../img/icon_002.png") no-repeat center center;
}

.icon_003{
    background: url("../img/icon_003.png") no-repeat center center;
}

.icon_004{
    background: url("../img/icon_004.png") no-repeat center center;
}

.icon_005{
    background: url("../img/icon_005.png") no-repeat center center;
}

.icon_006{
    background: url("../img/icon_006.png") no-repeat center center;
}

.icon_007{
    background: url("../img/icon_007.png") no-repeat center center;
}

.icon_008{
    background: url("../img/icon_008.png") no-repeat center center;
}

.icon_009{
    background: url("../img/icon_009.png") no-repeat center center;
}

.icon_010{
    background: url("../img/icon_010.png") no-repeat center center;
}

.icon_011{
    background: url("../img/icon_011.png") no-repeat center center;
}

.icon_012{
    background: url("../img/icon_012.png") no-repeat center center;
}